# dependencies
node_modules/

# next.js
.next/
out/

# environment variables
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# editor / OS
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# debug
npm-debug.log*

# vercel
.vercel
